.Nav {
    background-color: #1b4bac;
    min-height: 1vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(1px + 2vmin);
    color: white;
  }

  .image {
    min-height: 1vh;
    display: left;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    color: white;
  }
  